<ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
      <ng-template>
      <ion-header>
        <ion-toolbar>
            <ion-title>Options</ion-title>
            <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item id="pokemons-alert" detail="true" button="true">
            <ion-label>Rafraichir les pokémons</ion-label>
        </ion-item>
        <ion-item id="species-alert" detail="true" button="true">
          <ion-label>Rafraichir les espèces</ion-label>
        </ion-item>
        <ion-item id="moves-alert" detail="true" button="true">
          <ion-label>Rafraichir les attaques</ion-label>
        </ion-item>
        <ion-item id="evolutions-alert" detail="true" button="true">
          <ion-label>Rafraichir les évolutions</ion-label>
        </ion-item>
        <ion-item id="types-alert" detail="true" button="true">
            <ion-label>Telécharger tous les types</ion-label>
        </ion-item>
        <ion-item>
            <ion-input (ionChange)="changeId()" [(ngModel)]="idStart" label="Id de début :" type="number" placeholder="1" min="1"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input (ionChange)="changeId()" [(ngModel)]="idEnd" label="Id de fin :" type="number" placeholder="150" min="1"></ion-input>
        </ion-item>
      </ion-content>
      <ion-alert
        trigger="types-alert"
        header="Confirmation"
        message="Voulez-vous telecharger toutes les images de types des pokemon ?"
        [buttons]="alertButtons"
        (didPresent)="changeAlert('types')"
      ></ion-alert>
      
      <ion-alert
        trigger="pokemons-alert"
        header="Confirmation"
        message="Voulez-vous actualiser la base de de données des pokemons ? (Attention, cela peut prendre du temps)"
        [buttons]="alertButtons"
        [inputs]="alertInputs"
        (didPresent)="changeAlert('pokemons')"
      ></ion-alert>

      <ion-alert
        trigger="species-alert"
        header="Confirmation"
        message="Voulez-vous actualiser la base de de données des espèces ? (Attention, cela peut prendre du temps)"
        [buttons]="alertButtons"
        [inputs]="alertInputs"
        (didPresent)="changeAlert('species')"
      ></ion-alert>

      <ion-alert
        trigger="evolutions-alert"
        header="Confirmation"
        message="Voulez-vous actualiser la base de de données des évolutions ? (Attention, cela peut prendre du temps)"
        [buttons]="alertButtons"
        [inputs]="alertInputs"
        (didPresent)="changeAlert('evolutions')"
      ></ion-alert>

      <ion-alert
        trigger="moves-alert"
        header="Confirmation"
        message="Voulez-vous actualiser la base de de données des attaques ? (Attention, cela peut prendre du temps)"
        [buttons]="alertButtons"
        [inputs]="alertInputs"
        (didPresent)="changeAlert('moves')"
      ></ion-alert>
    </ng-template>
</ion-modal>